body{
    background-color: rgb(228, 212, 176);
    color: rgb(221, 152, 87);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:16px;
    line-height:1.6em;
    margin:0;
}

.container{
width:80%;
margin:auto;
overflow:hidden;
}

#main-header{
background-color:rgb(229, 188, 105);
color: rgb(141, 89, 117);
}

#navbar{
    background-color:rgb(118, 79, 97);
    color:rgb(241, 199, 154)
}

#navbar ul{
    padding:0;
    list-style:georgian;
}

#navbar li{
display:inline;
}

#navbar a {
color: rgb(237, 180, 105);
text-decoration: dotted;
font-size:18px;
padding-right:15px;
}

#showcase{
    background-image:url('../images/looking\ away\ beauty_.jpeg');
    background-position:center  right;
    min-height:300px;
    margin-bottom:30px;
    text-align:center;
}


#showcase h1{

    color: #bb9951;
    font-size:50px;
    line-height:1.6em;
    padding-top:30px;   
}

#main{
    float:left;
    width:70%;
    padding:0 30px;
    box-sizing:border-box;
}

#sidebar{
    float:right;
    width:30%;
    background:#c6aa6d;
    color:#995d82;
    padding:10px;
    box-sizing:border-box;
}


#main-footer{
background: #c6aa6d;
color:#995d82;
text-align:center;
padding:20px;
margin-top:40px;
}

@media(max-width:600px){ 

    #main{
        width:100%;
        float:none;
    } 

    #sidebar{
width:100%;
float:none;

    }
}